<html>
<head>
    <title>Spring Security Example </title>
</head>
<body>
<a> Add new user </a>
<form action = "/registration" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div><input type="submit" value="Add user"/></div>
</form>
{{#message}}
    {{message}}
{{/message}}
<a href="/login">Login</a>
</body>
</html>